<!DOCTYPE html>
<html lang="en">
<head>
<title>Contacts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-Frame-Options" content="allow">
<meta name="description" content="A collections of contacts links available at epfindia epfindia.gov.in epfo website it contains circulars, higher epnsion circular and contacts updated upto fixed date">
<meta name="keywords" content="epfo, epf, contacts, circulars, claims, help, chatbot, query, grievance, nodal officer, higher pension">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
.list-group {
	margin-bottom:0px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js" type="text/javascript"></script>
</head>
<body>
	<div class="container" ng-app="myApp" ng-controller="namesCtrl">
		<div class="btn-group">
				<a href="/" class="btn btn-sq-lg btn-default"><i class="fa fa-home"></i></a>
				<a href="./circulars.html" ng-click="change('APFC')" class="btn btn-sq-lg btn-default">Circulars</a>
				<a href="./contacts.html" ng-click="change('APFC')" class="btn btn-sq-lg btn-default">Contacts</a>
				<a href="./experiments.html" class="btn btn-sq-lg btn-default">Experiments</a>
				<a href="./chat.html" class="btn btn-sq-lg btn-primary">Talk to Chatbot (Experimental)</a>
		</div>
		<h3>Contacts</h3>
		<h5>Wait 2-5 seconds to load. These are as per website at specific point of time</h5>

		<div class="panel panel-default">
			<div class="panel-heading">
				<input type="text" style="width:100%; padding:4px;" placeholder="Search by Name or Office " ng-model="test" />
			</div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#Q1" class="collapsed" aria-expanded="false">Want to Know what is EPFO organisation structure? Watch Video</a>
						</h4>
					</div>
					<div id="Q1" class="panel-collapse collapse" aria-expanded="false">
						<div class="panel-body">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/a0owVSuGEzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

				
		<div class="table-responsive">
			<table class="table table-condensed table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th class="col-md-4" >Name</th>
						<th class="col-md-2">Office</th>
						<th class="col-md-1">DESIGNATION</th>
						<th class="col-md-2">Contact</th>
						<th class="col-md-2">Email</th>
						
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="x in offices | filter:test">
						<td>{{x.OFFICER_NAME}}</td>
						<td>{{x.OFFICE_OF_POSTING}}</td>
						<td>{{x.DESIGNATION}}</td>
						<td>{{x.STD_CODE}} - {{x.PHONE_NO}}</td>
						<td>{{x.EMAIL}}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script type="text/javascript">
	//<![CDATA[
	var app = angular.module('myApp', ['ngCookies']);
	app.controller('namesCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
		$scope.names = [];
		let url = new URL(window.location);
		let searchParams = new URLSearchParams(url.search);
		$scope.test=searchParams.get('q');

		$http({ method: 'GET', url: 'contacts.json'})
		.then(function (success){
			$scope.offices = success.data;
			},function (error){
			console.log(error)
			});
		}]);
  //]]>
	</script>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36392471-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36392471-2');
</script>

</body>
</html>
